.claude
.git
.gitignore
.idea
.prettierrc
beautify-picture.webp
CLAUDE.md
index.html
node_modules
package-lock.json
rollup.config.js
style/
test/
web-test-runner.config.mjs
web-test-runner.dist.config.mjs
